AIRFLOW_UID=1000
AIRFLOW_PROJ_DIR=.

# Airflow web UI credentials
_AIRFLOW_WWW_USER_USERNAME=airflow
_AIRFLOW_WWW_USER_PASSWORD=airflow

# Additional pip packages to install (optional)
# _PIP_ADDITIONAL_REQUIREMENTS=dbt-duckdb==1.8.0 astronomer-cosmos==1.4.0
